template(name='header')
  .navbar.navbar-fixed-top
     a(href="#" ).navbar-brand GLO NEW MES - PROTOTYPE
       .btn-group
          each buttons
            a.btn(class='fa fa-1x fa-#{icon}' style='font-size: 14px;' href='#' name='#{panel}')
               {{name}}
