template(name='layout')
  +HeaderFooterLayout headerSize='50' id='headerFooterLayoutId'
    +Surface target='header' template='header' modifier='StateModifier' translate='[0,-70]'
    +Surface target='content' template='sizer' modifier='StateModifier'

