div.workflow {
    float: left;
    padding: 0px 0px;
    margin: 8px;
    text-align: center;
    line-height: 14px;
    color: #333;
    font-size: 12px;
    font-family: "Helvetica Neue", sans-serif;
    height: 222px;
    width: 342px;
    overflow: hidden;
    cursor: pointer;
}

div.workflow svg {
    margin: 0px;
    height: 180px;
    padding: 0px;
    border: 1px solid #AAA;
}

div.workflow-hover {
    background-color: #eee;
}

div.workflow.x-item-selected {
    background-color: #D3E1F1 !important;
}

div.workflow strong {
    color: #000;
    display: block;
}

div.workflow span {
    color: #999;
}
